body {
            font-family: 'Times New Roman', Times, serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
        }
        h1 {
            color: #333;
        }
        h2 {
            color: #555;
        }
        .img-logo {
            max-width: 150px;
            border-radius: 10px;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            background: #e2e2e2;
            margin: 5px 0;
            padding: 10px;
            border-radius: 5px;
        }